# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/x64
/VRCTool/x64
/VRCTool/include/il2cpp.h
/VRCTool/include/Il2Cpp/il2cpp.h
/VRCTool/lib/il2cpp.h
/VRCTool.sln
